body {
  text-align: center;
}

#painting {
  display: inline-block;
  line-height: 0px;
}

#white {
  display: inline-block;
  background-color: white;
  border: 3px solid black;
  width: 94px;
  height: 94px;
}
#red {
  display: inline-block;
  background-color: red;
  border: 3px solid black;
  width: 94px;
  height: 94px;
}
#yellow {
  background-color: yellow;
  border: 3px solid black;
  width: 194px;
  height: 44px;
}
#blue {
  background-color: blue;
  border: 3px solid black;
  width: 194px;
  height: 44px;
}